body {
    font-family: Arial, sans-serif;
    background: #eee;
}

table {
    width: 70%;
    margin: 40px auto;
    border-collapse: separate;
    border-spacing: 5px;
}

th {
    background-color: #8cc63f;
    color: white;
    padding: 10px;
    text-align: center;
}

td {
    background-color: #c5d9a6;
    padding: 10px;
    text-align: center;
}